<app-boton-azul [label]="'Crear'" (click)="abrirModal()"></app-boton-azul>

<p-dialog (visibleChange)="cerrarModal()" [(visible)]="modalVisible" [transitionOptions]="'200ms'" [(visible)]="modalVisible"
  [style]="{width: '50%', maxHeight: '80vh'}" position="center" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <h3>Registrar categoria</h3>
    <hr>
    <form [formGroup]="categoriaForm" (ngSubmit)="crear()">
      <div class="row">
        <div class="col-sm-2">
          <label>Código:</label>
        </div>
        <div class="col-sm-4">
          <input validar type="text" id="codigoCategoria" name="codigo" placeholder="Código de la categoría"
            class="form-control" formControlName="codigo">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <label>Nombre:</label>
        </div>
        <div class="col-sm-4">
          <input validar type="text" id="nombreCategoria" name="nombre" placeholder="Nombre de la categoria"
            class="form-control" formControlName="nombre">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <label>Fotografía:</label>
        </div>
        <div class="col-sm-4">
          <input validar type="file" (change)="handleUpload($event)" id="fotografiaUploadCategoria" name="fotografiaUpload"
            class="form-control" formControlName="fotografiaUpload">
        </div>
      </div>
      <hr>
      <app-boton-gris [label]="'Cerrar'" (click)="cerrarModal()"></app-boton-gris>
      <app-boton-azul [label]="'Crear'" [type]="'submit'"></app-boton-azul>
    </form>
  </ng-template>
</p-dialog>
