<app-crear-aliado (creacionExitosa)="creacionExitosa()"></app-crear-aliado>

<h5>Lista de aliados</h5>
<div class="card">
  <p-table [value]="listaAliados | async" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      currentPageReportTemplate="">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>NIT</th>
              <th>Nombre</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-aliado>
          <tr>
              <td>{{aliado.id}}</td>
              <td>{{aliado.nit}}</td>
              <td>{{aliado.nombre}}</td>
              <td>
                <app-borrar-aliado [id]="aliado.id" (borradoExitoso)="borradoExitoso()"></app-borrar-aliado>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
