<!--<nav>
  <a id="linkAliado" routerLink="./" routerLinkActive="active"
    routerLinkActiveOptions="{ exact: true }">Aliado</a>
  <a id="linkCrearCategoria" routerLink="./crear" routerLinkActive="active">Crear aliado</a>
  <a id="linkBorrarCategoria" routerLink="./borrar" routerLinkActive="active">Borrar aliado</a>
  <a id="linkListarCategoria" routerLink="./listar" routerLinkActive="active">listar aliado</a>
</nav>

<router-outlet></router-outlet>
-->

<div class="my-container">
  <app-listar-aliado></app-listar-aliado>
</div>
